@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.css-1kyxreq .ebxwdo62{
    width: 200px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    
}
#marketing-traffic-analysis{
    font-family: 'Inter', sans-serif
}

.block-container .css-z5fcl4 .e1g8pov64{
    background-color:#f0f0f0;
  
}

#root{
    background-color: #f0f0f0;
}